.Characters {
  h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .characterProfilesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem auto 7rem;
    font-size: 1.6rem;

    .characterProfile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profileImageContainer {
        width: 3rem;
        height: 3rem;
        background-image: linear-gradient(
          to bottom,
          rgb(62, 60, 112),
          rgb(39, 38, 78)
        );
        border-radius: 50%;
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.75rem;
      }
    }
  }
}

@media (min-width: 767px) {
  .Characters {
    .characterProfilesContainer {
      gap: 5rem;
      margin: 3rem 0;

      .profileImageContainer {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
