.Characters {
  max-width: 100vw;
  min-height: 100vh;
  padding: 3rem 0;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;

  h2 {
    text-align: center;
    margin-bottom: 5rem;
    display: none;
  }

  .races {
    padding: 3rem 0;
    height: 80vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    //scroll-snap-points-y: repeat(500px);
    //scroll-snap-type: mandatory;
    //scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none; //Chrome Safari Opera
    }
  }

  .Character {
    display: flex;
    width: 100%;
    min-height: 70vh;
    position: relative;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    //scroll-snap-align: start;
    //scroll-snap-stop: always;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .race,
    .content {
      width: 50%;
      min-height: 100%;
      position: relative;

      p {
        max-width: 50ch;
      }
    }

    .race {
      .imgContainer {
        max-width: 450px;
      }
    }

    .content {
      // background-color: blue;
      align-self: center;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOutToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100vw;
  }
}

@keyframes slideInFromRight {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOutToRight {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
